USE [carpentry]
GO
/****** Object:  Table [dbo].[area]    Script Date: 9/13/2022 5:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[idarea] [int] NOT NULL,
	[idcarpinteria] [int] NULL,
	[nombre] [varchar](50) NULL,
	[funcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carpinteria]    Script Date: 9/13/2022 5:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carpinteria](
	[idcarpinteria] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcarpinteria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 9/13/2022 5:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [int] NOT NULL,
	[idcarpinteria] [int] NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 9/13/2022 5:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idempleado] [int] NOT NULL,
	[idcarpinteria] [int] NULL,
	[idarea] [int] NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[rfc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idempleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 9/13/2022 5:07:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idproducto] [int] NOT NULL,
	[idempleado] [int] NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[existencia] [int] NULL,
	[imagen] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[area] ([idarea], [idcarpinteria], [nombre], [funcion]) VALUES (1, 1, N'Pintura', N'pintar muebles')
GO
INSERT [dbo].[carpinteria] ([idcarpinteria], [nombre], [ciudad], [telefono]) VALUES (1, N'Paniaguas', N'Tijuana', N'6644918169')
INSERT [dbo].[carpinteria] ([idcarpinteria], [nombre], [ciudad], [telefono]) VALUES (2, N'Titos', N'C.Constitucion', N'896588')
INSERT [dbo].[carpinteria] ([idcarpinteria], [nombre], [ciudad], [telefono]) VALUES (3, N'Gomez', N'Tijuana', N'66448586555')
GO
INSERT [dbo].[empleado] ([idempleado], [idcarpinteria], [idarea], [nombre], [direccion], [telefono], [rfc]) VALUES (1, 1, 1, N'Isaias Paniagua', N'Nordika XVIII', N'6644918169', N'PAAI000407PK6')
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([idcarpinteria])
REFERENCES [dbo].[carpinteria] ([idcarpinteria])
GO
ALTER TABLE [dbo].[area] CHECK CONSTRAINT [fk1]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [fk2] FOREIGN KEY([idcarpinteria])
REFERENCES [dbo].[carpinteria] ([idcarpinteria])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [fk2]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [fk3] FOREIGN KEY([idcarpinteria])
REFERENCES [dbo].[carpinteria] ([idcarpinteria])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [fk3]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [fk4] FOREIGN KEY([idarea])
REFERENCES [dbo].[area] ([idarea])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [fk4]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [fk5] FOREIGN KEY([idempleado])
REFERENCES [dbo].[empleado] ([idempleado])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [fk5]
GO
